@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="row">
    <div class="col-lg-12 col-md-6">
        <div class="jumbotron">
            <p id="55">Make me purple</p>
            <button type="submit" onclick="document.getElementById('55').style.color='purple'">Click me</button>
        </div>     
    </div>
</div>