@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid">

    <script>
        window.alert("Welcome to Nick's Candy Store")
    </script>


    <div class="row">
        <div class="col-lg-12 col-md-4">        
            <h2>What can javascript do?</h2>
            <p id="demo">JS can change HTML content.</p>
            <button type="button" onclick="document.getElementById('demo').innerHTML='Hello Javascript'">Click Me</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-4">
            <h2> What can JavaScript do?</h2>
            <p id="size"> JS can change font size</p>
            <button type="button" onclick="document.getElementById('size').style.fontSize='50px'">Click Me</button>
        </div>      
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-4">
            <h2> What can JavaScript do?</h2>
            <h3 id="color">JS can do this too</h3>
                <button type="button" onclick="document.getElementById('color').style.color='Red'">Click me</button>   
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-4">
            @* using a function to change fontsize here*@
            @* functions have to be within script tags*@
            <script>
                function nicksFunction() {
                    document.getElementById("sizeChg").style.fontSize="20px"
                }
            </script>
            <h3 id="sizeChg">Make this change using a JS function</h3>
            <button type="button" onclick="nicksFunction()">Try from Here</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-4">
            <h3> What else can it do?</h3>
            <p id="anotherTrick">It can do this too</p>
            <button type="button" onclick="document.getElementById('anotherTrick').style.color='blue'">Make me blue</button>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-6">
            <img id="gummyBears" src="~/images/GummyBears.jpeg" />
        </div>
    </div>




</div>
